*{
    margin: 0;
    padding: 0;
}

.container{
    border-style:none;
    width:100%;
    height:5000px;
}
.heading{
    border-style:none;
    width: 95%;
    height: 40px;
    margin:0 auto;
    margin-top:20px;

}
.head{
    border-style:none;
    width:15%;
    height: 62px;
    margin:0 auto;
    text-align: center;
    line-height:20px;
    font-size:26px;
    font-family:"poppins", sans-serif;
    text-transform: uppercase;
    font-weight:bold;
    cursor: pointer;

}
.heading1{
    border-style:none;
    width: 95%;
    height: 780px;
    margin:0 auto;
    margin-top: 5px;
    background-color: #f89cab;
    border-radius: 20px;


}
.content{
    border-style:none;
    width:100%;
    height: 50px;
    margin:0 auto;
    background-color:#F7F0E8;
    border-top-left-radius:20px;
    border-top-right-radius:20px;
}
.title1,.title2,.title3,.title4,.title5,.title6,.title7,.title8{
    border-style:none;
    width:10%;
    height:50px;
    float:left;
    margin:0 auto;
    font-family:"poppins", sans-serif;
    color: #514f4f;
    cursor: pointer;

    
}
.title1{
    margin-left:320px;
    font-size: 17px;
    width:7%;
    text-align: center;
    line-height:50px;
}
.title2{
    font-size: 17px;
    width: 6%;
    text-align: center;
    line-height:50px;
}
.title3{
    font-size: 17px;
    width:7%;
    text-align: center;
    line-height:50px;
}
.title4{
    font-size: 17px;
    width:11%;
    text-align: center;
    line-height:50px;
}
.title5{
    font-size: 17px;
    width:10%;
    text-align: center;
    line-height:50px;
}
.title6{
    font-size: 17px;
    width:7%;
    text-align: center;
    line-height:50px;
}
.title7{
    font-size: 17px;
    width:4%;
    text-align: center;
    line-height:50px;

}
.title8{
    font-size: 17px;
    width:4%;
    text-align: center;
    line-height:50px;

}
.sr-only{
    background-color:white;
    color:#514f4f;
    padding:7px;
    padding-left:22px;
    padding-right:22px;
    border-radius: 6px;
    cursor:pointer;
}
.content1{
    border-style:none;
    width:100%;
    height: 730px;
    margin:0 auto;
    border-radius: 20px;
    background-color:#f89cab;
    

}
.cont1{
    float: left;
    border-style:none;
    width: 55%;
    height:728px;
    margin: 0 auto;
    margin-left:30px;
} 
.oh1{
    border-style:none;
    width:91%;
    height: 120px;
    margin-top:26%;
    font-size:3.5rem;
    background-color:#f89cab;
    color:white;
    font-family: 'Poppins', sans-serif;
    font-weight:bolder;
    margin-left:60px;
}
.oh2{
    border-style:none;
    width:91%;
    height:80px;
    margin-top:3%;
    margin-left:60px;
}
.oh3{
    border-style:none;
    width:91%;
    height:45px;
    margin-top:6%;
    margin-left:60px;
}
.oh4,.oh5{
    color: white;
}
.oh5{
    font-family: 'Poppins', sans-serif;
    font-weight:600;
}

.cont2{
    float: right;
    border-style:none;
    width: 40%;
    height:728px;
    margin:0 auto;
    margin-right:30px;
    background-color: #f89cab;

}
.heading2{
    border-style:none;
    width: 95%;
    height:800px;
    margin:0 auto;
    margin-top: 100px;

}
.head1,.head2{
    border-style:none;
    width: 86%;
    height:55px;
    margin:0 auto;
    
}
.head2{
    height: 647px;

}
.hea1{
    border-style:none;
    width:30%;
    height:54px;
    margin:0 auto;
    text-align: center;
    font-size: 30px;
    font-family:"poppins", sans-serif;
    font-weight:bold;

}
.hea2,.hea3,.hea4,.hea5,.hea6,.hea7,.hea8,.hea9{
    border-style:none;
    width: 22%;
    height:290px;
    margin:0 auto;
    margin-top: 10px;
    float: left;
    margin-left: 25px;
    margin-top:20px;
    background-color:#F3EFF0;
    position:relative;
    cursor: pointer;
}
.topleft,.top1,.top2,.top3,.top4,.top5,.top6,.top7{
    position: absolute;
    border-style:none;
    background-color:white;
    top: 10px;
    left: 10px;
    font-size:16px;
    width:49px;
    height:49px;
    border-radius:100%;
    text-align: center;
    line-height:50px;
    color: black;
    font-family: 'Poppins', sans-serif;
}
.botleft,.botleft1,.botleft2,.botleft3,.botleft4,.botleft5,.botleft6,.botleft7
{
      position: absolute;
       bottom: 8px;
       left: 16px;
       font-size: 16px;
       font-family: 'Poppins', sans-serif;
       font-weight: bolder;

}
.botright,.botright1,.botright2,.botright3,.botright4,.botright5,.botright6,.botright7{
    position: absolute;
       bottom: 8px;
       right: 16px;
       font-size: 16px;
       font-family: 'Poppins', sans-serif;
       font-weight: bolder;

}
.some1,.som2{
    border-style:none;
    width: 80%;
    height: 65px;
    margin:0 auto;
}
.some1{
    margin-top:20px;
}
.som2{
    width: 30%;
    text-align: center;
    height:63px;
    font-size:20px;
    font-family:"poppins", sans-serif;
    line-height:40px;
}
.heading3{
    border-style:none;
    width: 95%;
    height:500px;
    margin:0 auto;
    background-color:#7fd7eb;
    border-radius:15px;
    margin-top: 50px;

}
.som3,.som4{
    border-style:none;
    margin:0 auto;
    width: 49%;
    height: 487px;
    background-color:#7fd7eb;  
}
.som3{
    float:left;
    height:498px;
    border-radius:15px;
}

.som4{
    float:right;
    margin-right:18px;
    height:498px;
    border-radius:15px;
}
img{
    display:block;
    margin-left:auto;
    margin-right:auto;
    padding-top: 70px;
}
span{
    color:#f16179;
}
.nothing2{
    border-style:none;
    display:inline-block;
    padding:14px 40px;
    border-radius:5px;
    background-color:#f16179;
    color:white;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    font-weight:400;
    border:1px solid  #f16179;
}
span.nothing2:hover{
    background-color: transparent;
    color:#f16179;
    border:1px solid  #f16179;
    
}

.oh6{
    border-style:none;
    padding:12px 40px;
    background-color:#f16179; 
    border-radius: 5px; 
    color:white;
    font-family: 'Poppins', sans-serif;
    font-size:17px;
    cursor: pointer;
    border:1px solid #f16179;

}
span.oh6:hover{
    background-color:transparent;
    border:1px solid #f16179;
    color:#f16179;
}
.oh7{
    border-style:none;
    width:100%;
    height: 100px;
    margin-top:150px;
    color:white;
    font-family: 'Poppins', sans-serif;
    font-weight:bolder;
}
.oh8{
    border-style:none;
    width:100%;
    height:80px;
}
.oh9{
    border-style:none;
    width:100%;
    height:45px;
    margin-top:1%;
}
.ohh{
   color:white;
   font-size:30px;
   color:white;
   font-family:"poppins", sans-serif;
   font-weight:bolder;
}
.ohh1{
    color:white;
    font-family:"poppins", sans-serif;
    font-weight:400;
    text-align:left;
}
.nothing,.nothing1{
    font-size:17px;
    border-style:none;
    text-align: center;
    padding: 10px 20px;
    background-color:#109dbd;
    width:165px;
    color: white;
    display: inline-block;
    font-family:"poppins", sans-serif;
    font-weight:400;
    border:1px solid #109dbd;
    cursor: pointer;
    box-sizing: border-box;
    
}
.nothing1{
    margin-left:5px;
    background-color:white;
    color:black;
    font-family:"poppins", sans-serif;
    border:1px solid white;
}
h4.nothing:hover{
    border: 1px solid #109dbd ;
    background-color: transparent;
    color:#109dbd;
}
h4.nothing1:hover{
    border: 1px solid white ;
    background-color: transparent;
    color:white;
}